<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="client" class="com.epam.entity.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean id="eventLogger" class="com.epam.logger.ConsoleEventLogger"/>

    <bean id="app" class="com.epam.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
    </bean>

    <bean id="event" class="com.epam.entity.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>


    <bean id="fileEventLogger" class="com.epam.logger.FileEventLogger" init-method="init">
        <constructor-arg value="/home/dmitry/Lab1"/>
    </bean>

    <bean id="cacheFileEventLogger" class="com.epam.logger.CacheFileEventLogger" destroy-method="destroy">
        <constructor-arg value="/home/dmitry/Lab1"/>
        <constructor-arg value="3"/>
    </bean>
</beans>